---
import ContentArea from "./ui/ContentArea.astro";
---

<div class="mb-20 md:mb-30">
  <h3
    class="text-brand mx-7 mb-10 text-center text-4xl font-black lg:text-5xl dark:text-white"
  >
    Get in touch!
  </h3>
  <ContentArea class="px-5 lg:flex lg:gap-12 lg:px-20">
    <div class="flex flex-col items-center">
      <p class="mx-auto mb-8 max-w-100 text-justify lg:mx-0 lg:mt-5 lg:mb-0">
        Got a project you&rsquo;re working on? Need some advice on how to
        kickstart your project? I&rsquo;d love to help! Send me a message and
        I&rsquo;ll get back to you shortly.
        <br />
        <br />
      </p>
    </div>
    <div class="lg:w-2/3">
      <form
        class="flex flex-col items-center gap-6"
        method="POST"
        id="contact-form"
        action="https://formspree.io/f/mgvkwodn"
      >
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="name" class="mb-2 block font-bold">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none dark:focus:border-white"
          />
        </div>
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="email" class="mb-2 block font-bold">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none dark:focus:border-white"
          />
        </div>
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="message" class="mb-2 block font-bold">Message</label>
          <textarea
            id="message"
            name="message"
            rows="6"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none dark:focus:border-white"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-brand hover:bg-brand/90 focus:ring-brand dark:text-brand w-full max-w-[400px] cursor-pointer rounded-lg px-6 py-3 font-medium text-white focus:ring-2 focus:ring-offset-2 focus:outline-none lg:max-w-[300px] dark:bg-white dark:hover:bg-white/90"
        >
          Send message
        </button>
      </form>
    </div>
  </ContentArea>
</div>

<script>
  window.onbeforeunload = () => {
    const form = document.getElementById("contact-form") as HTMLFormElement;
    form.reset();
  };
</script>
