---
// Add any necessary form handling logic here
---

<div class="mb-20">
  <h3 class="text-brand mx-7 mb-10 text-center text-4xl font-black lg:text-5xl">
    Get in touch!
  </h3>
  <div class="mx-7 lg:mx-20 lg:flex lg:gap-12">
    <p class="mx-auto mb-8 max-w-100 text-center lg:mx-0 lg:mt-5 lg:mb-0">
      Got a project you&rsquo;re working on? I&rsquo;d love to explore how I can
      help! Contact me here:
    </p>
    <div class="lg:w-2/3">
      <form class="flex flex-col items-center gap-6">
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="email" class="mb-2 block font-bold">Your email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none"
          />
        </div>
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="name" class="mb-2 block font-bold">Your name</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none"
          />
        </div>
        <div class="w-full max-w-[500px] lg:max-w-none">
          <label for="message" class="mb-2 block font-bold">Message</label>
          <textarea
            id="message"
            name="message"
            rows="6"
            required
            class="focus:border-brand focus:ring-brand w-full rounded-lg border border-gray-300 p-3 focus:ring-1 focus:outline-none"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-brand hover:bg-brand/90 focus:ring-brand lg:max-w-nonee w-full max-w-[500px] rounded-lg px-6 py-3 font-medium text-white focus:ring-2 focus:ring-offset-2 focus:outline-none"
        >
          Send message
        </button>
      </form>
    </div>
  </div>
</div>
