---
import ProjectExample from "./ProjectExample.astro";
---

<div class="mb-20 md:mb-30">
  <h3 class="text-brand mx-7 mb-10 text-left text-4xl font-black lg:text-5xl">
    Some of the things I&rsquo;ve helped build
  </h3>
  <ProjectExample />
</div>
