---
import Carousel from "@/components/ui/carousel/Carousel.astro";
import ContentArea from "@/components/ui/ContentArea.astro";
import OKSystems from "@/components/projects/OKSystems.astro";
import OutSolve from "@/components/projects/OutSolve.astro";
import CarouselSlideIndicators from "@/components/ui/carousel/CarouselSlideIndicators";
---

<div class="mb-20 md:mb-30">
  <ContentArea>
    <h3
      class="text-brand mx-7 mb-10 text-center text-4xl font-black lg:text-5xl dark:text-white"
    >
      Some of the things I&rsquo;ve helped build
    </h3>
  </ContentArea>
  <Carousel id="projects-carousel">
    <OKSystems />
    <OutSolve />
    <CarouselSlideIndicators
      carouselId="projects-carousel"
      slot="dots"
      client:load
    />
  </Carousel>
</div>
