---
import Carousel from "@/components/ui/Carousel.astro";
import ContentArea from "@/components/ui/ContentArea.astro";
import OKSystems from "@/components/projects/OKSystems.astro";
import OutSolve from "@/components/projects/OutSolve.astro";
---

<div class="mb-20 md:mb-30">
  <ContentArea>
    <h3
      class="text-brand mx-7 mb-10 text-center text-4xl font-black lg:text-5xl dark:text-white"
    >
      Some of the things I&rsquo;ve helped build
    </h3>
  </ContentArea>
  <Carousel>
    <OKSystems />
    <OutSolve />
  </Carousel>
</div>
