---
import { Image } from "astro:assets";
import ContentArea from "@/components/ui/ContentArea.astro";
import ProfilePhoto from "@/assets/images/Profile_Photo@3x.png";
---

<div class="mb-20">
  <div class="bg-brand px-7 pt-10 pb-15 md:pb-5 lg:pt-15">
    <ContentArea class="text-left text-white">
      <h1 class="mb-5 text-5xl font-bold md:ml-20 md:text-left lg:text-6xl">
        Hey,
        <br />
        I&rsquo;m Justin
      </h1>
      <h2
        class="mb-10 text-left text-3xl font-bold md:mr-20 md:mb-0 md:text-right md:text-2xl md:font-bold lg:text-4xl"
      >
        Full stack engineer&nbsp;/<br />
        Web & mobile dev<span class="hidden md:inline">eloper</span>&nbsp;/<br
        />
        Technical consultant
      </h2>
      <div
        class="dark:border-brand-900 mx-auto -mb-40 h-[200px] w-[200px] rounded-full border-10 border-white md:float-left md:-mt-20 md:ml-15"
      >
        <Image
          src={ProfilePhoto}
          alt="It's me!"
          width={180}
          height={180}
          densities={[1, 2, 3]}
        />
      </div>
    </ContentArea>
  </div>
  <div class="mt-30 px-5 md:mt-35 md:pr-20">
    <ContentArea>
      <p
        class="text-md mx-auto max-w-[800px] text-center md:-mt-[125px] md:ml-[300px] md:text-left"
      >
        I&rsquo;m a Hong Kong-based software engineer with over 12 years of
        professional experience building web and mobile applications from
        end-to-end. I enjoy contributing to all stages of a project, from
        initial design and development through to testing, cloud infrastructure,
        and automated deployments.
      </p>
    </ContentArea>
  </div>
</div>
