---
import { Image } from "astro:assets";
import ProjectImageOK1 from "../assets/images/project_ok_1.png";
import ProjectImageOK2 from "../assets/images/project_ok_2.png";
---

<div class="mx-10 flex flex-col justify-center gap-5 md:mx-20 lg:flex-row">
  <div class="order-2 flex flex-col justify-center lg:order-1">
    <p
      class="mx-auto mb-5 max-w-[500px] text-left text-3xl font-black md:text-left lg:mx-0 lg:text-4xl"
    >
      A globally-deployed supply chain management platform
    </p>
    <p
      class="mx-auto max-w-[500px] text-justify md:text-left lg:mx-0 lg:text-left"
    >
      As Senior Frontend Engineer, I worked with React + Next.js for the
      frontend, automated deployments with Docker and Azure DevOps, and used a
      combination of Azure Front Door and Azure App Service to deploy the
      application globally with low latency.
    </p>
  </div>
  <div class="relative order-1 flex flex-col justify-center lg:order-2">
    <Image
      alt="OK Systems Limited homepage"
      src={ProjectImageOK1}
      class="relative top-0 left-0 z-2 mx-auto mb-10 drop-shadow-md lg:mx-0 lg:mb-0"
    />
    <Image
      alt="OK Systems Limited product editor"
      src={ProjectImageOK2}
      class="left-20 z-1 hidden scale-80 drop-shadow-sm lg:absolute lg:block"
    />
  </div>
</div>
