---
import "@fontsource-variable/figtree";
import SpeedInsights from "@vercel/speed-insights/astro";
import "../assets/global.css";
import Footer from "../components/Footer.astro";
import Favicon from "../assets/images/favicon.ico";
import Favicon16 from "../assets/images/favicon-16x16.png";
import Favicon32 from "../assets/images/favicon-32x32.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Justin Ling's portfolio website. Justin Ling is a software engineer from the US based in Hong Kong. He's been coding professionally for over 12 years and loves creating."
    />
    <link rel="icon" type="image/png" sizes="32x32" href={Favicon32.src} />
    <link rel="icon" type="image/png" sizes="16x16" href={Favicon16.src} />
    <link rel="icon" type="image/png" href={Favicon} />
    <title>Justin Ling</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="f14d57bf-4a60-456c-9415-bb0cce7b5e9f"></script>
  </head>
  <body class="dark:bg-black dark:text-white">
    <slot />
    <Footer />
    <SpeedInsights />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
